*{
    box-sizing: border-box;
    
}

@media (max-width: 768px){
    *{
        display:grid;
        /* text-align: center; */
        margin: 0;   
    }
    body{
        /* text-align: center; */
    }
    .main-links a{
        margin-top: 10px;
        justify-content: center;
    }
    .main-links{
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    .list{
        justify-content: left;
        list-style-type: circle;
    }
    h5{
        text-align: center;
    }
    p{
        text-align: left;
    }
}
