*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'poppins', sans-serif;
}

body{
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.changelog{
  background: #f8f9fa;
  width: 600px;
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  border: 1px solid #ddd;
}

.changelog h1{
  font-size: 28px;
  margin-bottom: 6px;
}

.subtitle{
  font-size: 14px;
  color: #666;
  margin-bottom: 35px;
}

.timeline{
  position: relative;
  margin-bottom: 40px;
}

.timeline::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 2px;
  background: #ccc;
  transform: translateX(-50%);
}

.entry{
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  align-items: center;
  margin: 20px 0;
}

.date{
  text-align: right;
  color: #777;
  font-size: 14px;
}

.dot{
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 100%;
  justify-self: center;
  z-index: 2;
}

.update{
  text-align: left;
  color: #222;
  font-size: 15px;
  padding: 5px 25px;
}

.changelog-btn{
background: black;
color: white;
border: none;
border-radius: 8pc;
padding: 10px 25px;
font-size: 14px;
cursor: pointer;
}

.changelog-btn:hover{
  background: #333;
}

@media(max-width: 768px){
  .changelog{
    width: 90%;
    padding: 25px;;
  }
  
  .entry{
    grid-template-columns: 1fr 25px 1fr;
  }

  .update, .date{
    font-size: 13px;
  }
  .update{
    padding: 5px 15px;
  }
  .dot{
    width: 10px;
    height: 10px;
  }
}
